<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previewing tables</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        * {
            font-size: 10px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .navbar {
            position: sticky; /* sticky to the top of the page */
            background-color: #6a6a6a;
            border-bottom: 1px solid #ddd;
            position: sticky;
            top: 0;
            z-index: 1000; /* Ensure Navbar is above other content */
        }

        /* Styling the table displayed on the frontend */
        .table {
            width: 100%;
            border-collapse: collapse;
            position: relative;
        }
        .table th,
        .table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
        .table td {
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .table th {
            position: sticky;
            top: 0px; /* 63px for below navbar */
            background-color: #dbdbdb;
            color: black;
            z-index: 1001;
        }
        .table-details {
            max-width: 800px;
            padding: 0;
        }
        .table td[contenteditable="true"]:focus {
            background-color: orange;
        }
        .table td.expanded div[contenteditable="true"]:focus {
            background-color: orange;
            padding: 8px;
            margin: -8px; /* Counteract padding to maintain cell size */
            border: 1px solid #ccc;
            white-space: normal;
            overflow: visible;
        }
        .table td.expanded {
            background-color: orange;
        }
        .table td.editing {
            background-color: orange;
        }

        /* CSS to style the button container and buttons */
        .button-container {
            display: flex; /* Use flexbox to align buttons horizontally */
            align-items: center; /* Center items vertically within the container */
        }
        .save-button,
        .add-row-button,
        .populate-RS-button {
            margin-right: 10px; /* Add space between buttons */
        }
        .expand-button {
            border-radius: 10px;
            border: none;
            display: inline-block;
            cursor: pointer;
        }

        /* for SLICER CONTAINER */
        #slicer-container {
            white-space: nowrap;
        }
        .inner-slicer-container {
            display: inline-block;
            max-height: 120px;
            width: 150px;
            border-radius: 10px;
            border: 1px solid #eee;
            padding: 3px;
            margin: 10px;
            overflow: auto; /* Enable vertical scrollbar when content overflows */
            background-color: #fff;
        }
        .slicer {
            padding: 5px;
            border-radius: 5px;
        }
        .slicer-header {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }
        .slicer-options label {
            display: block;
            margin-bottom: 3px;
            color: #333;
        }
        .slicer-options input[type="checkbox"] {
            margin-right: 5px;
        }
        .slicer-options {
            white-space: nowrap; /* Prevent line breaks */
        }

        /* Style the column search input boxes */
        .column-search {
            width: 100%;
            padding: 6px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        /* for loading animation */
        .loading-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
            z-index: 9999; /* Higher z-index to cover the entire page */
        }
        .loading-animation {
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!-- Back Button -->
            <a class="navbar-brand" href="/preview" data-bs-toggle="tooltip" data-bs-title="Go Back">
                <img src="../static/images/left-arrow.png" alt="Back" width="15" height="15">
            </a>

            <!-- Bootstrap's NavBar styling -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
                <ul class="navbar-nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload" style="color: white;">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preview" style="color: white;">Preview Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mergermarket" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="MergerMarket" style="color: white;">MM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/marketscan" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Market Scan">MS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rollingshortlist" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Rolling Shortlist" style="color: white;">RS</a>
                    </li>
                </ul>
            </div>

            <!-- Table name in the center of the navbar -->
            <div class="table-name mx-auto"></div>

            <!-- Button Container on the top right hand corner of the navbar -->
            <div class="button-container">
                <div class="populate-RS-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Populate Rolling Shortlist"></div>
                <div class="add-row-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Add New Row"></div>
                <div class="save-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Save Changes"></div>
                <div class="download-button" data-bs-toggle="tooltip" data-bs-title="Download Market Scan into Excel"></div>
            </div>
        </div>
    </nav>

    <!-- Modal for confirmation of populating Market Scan -->
    <div class="modal fade" id="populateRSModal" tabindex="-2" aria-labelledby="populateRSModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="populateRSModalLabel">Populate Rolling Shortlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="populateRS-modal-body" style="max-height: 400px; overflow-y: auto;">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="populateRSModalConfirm">Populate</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for adding a new row -->
    <div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="addRowModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRowModalLabel">Add Row</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- Header columns based on the BigQuery Market Scan table headers -->
                                <th>Num</th>
                                <th>Picks</th>
                                <th>Captured in the week</th>
                                <th>Date</th>
                                <th>Lead type</th>
                                <th>Target HS industry classification</th>
                                <th>Dominant sector_as per MM</th>
                                <th>Sectors_as per MM</th>
                                <th>Sub Sectors_as per MM</th>
                                <th>HS Target region</th>
                                <th>Dominant country</th>
                                <th>Countries</th>
                                <th>Next Steps</th>
                                <th>Target</th>
                                <th>Target_Chinese</th>
                                <th>Deal intelligence</th>
                                <th>Short BD</th>
                                <th>Bidders</th>
                                <th>Sellers_or_Vendors</th>
                                <th>Type of transaction</th>
                                <th>Intelligence type_as per MM</th>
                                <th>Topics_as per MM</th>
                                <th>Value_USDm</th>
                                <th>Value description</th>
                                <th>Intelligence size</th>
                                <th>Intelligence size bucket</th>
                                <th>Stake value_percent</th>
                                <th>Held by ASPAC priority firm_Y_or_N</th>
                                <th>PE priority firm</th>
                                <th>Held since</th>
                                <th>Held for more than three years_Y_N_NA</th>
                                <th>KPMG credentials_PE_Company_Both_N</th>
                                <th>KPMG firm</th>
                                <th>Engagement partner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- Input fields for each column (follows BigQuery's data types) -->
                                <td><input type="number" id="new-num"></td>
                                <td><input type="checkbox" id="new-picks"></td>
                                <td><input type="text" id="new-capturedWeek"></td>
                                <td><input type="date" id="new-date"></td>
                                <td><input type="text" id="new-leadType"></td>
                                <td><input type="text" id="new-HSIndustryClassification"></td>
                                <td><input type="text" id="new-dominantSectorMM"></td>
                                <td><input type="text" id="new-sectorsMM"></td>
                                <td><input type="text" id="new-subSectorsMM"></td>
                                <td><input type="text" id="new-HSTargetRegion"></td>
                                <td><input type="text" id="new-dominantCountry"></td>
                                <td><input type="text" id="new-countries"></td>
                                <td><input type="text" id="new-nextSteps"></td>
                                <td><input type="text" id="new-target"></td>
                                <td><input type="text" id="new-targetChinese"></td>
                                <td><input type="text" id="new-dealIntelligence"></td>
                                <td><input type="text" id="new-shortBD"></td>
                                <td><input type="text" id="new-bidders"></td>
                                <td><input type="text" id="new-sellersVendors"></td>
                                <td><input type="text" id="new-transactionType"></td>
                                <td><input type="text" id="new-intelligenceType"></td>
                                <td><input type="text" id="new-topicsMM"></td>
                                <td><input type="text" id="new-valueUSDm"></td>
                                <td><input type="text" id="new-valueDescription"></td>
                                <td><input type="text" id="new-intelligenceSize"></td>
                                <td><input type="text" id="new-intelligenceSizeBucket"></td>
                                <td><input type="text" id="new-stakeValuePercent"></td>
                                <td><input type="text" id="new-heldByASPAC"></td>
                                <td><input type="text" id="new-pePriorityFirm"></td>
                                <td><input type="text" id="new-heldSince"></td>
                                <td><input type="text" id="new-heldThreeYears"></td>
                                <td><input type="text" id="new-kpmgCredentials"></td>
                                <td><input type="text" id="new-kpmgFirm"></td>
                                <td><input type="text" id="new-engagementPartner"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="addRowConfirmButton">Add Row</button>
                </div>
            </div>
        </div>
    </div>

    <div id="slicer-container">
        <div>
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#inner-slicer-container" aria-expanded="true" aria-controls="centered-slicer-container">
                <img src="../static/images/Up_arrow.png" width="10" height="10">
            </button>
        </div>
        <!-- Dropdown slicers will be generated here -->
    </div>

    <div class="table-details" style="display: none;">
        <!-- Table Data from BigQuery will be generated here -->
    </div>

    <div class="loading-container">
        <div class="loading-animation"></div>
    </div>

<!-- SheetJS library for Excel file handling -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!-- jQuery for making AJAX requests -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    $(document).ready(function() {
        // Show the loading animation upon loading of the Market Scan table (time it takes to load the data from BigQuery)
        $('.loading-container').show();
        displayMarketScan();

        // To display Market Scan table
        function displayMarketScan() {

            /* The following code is making an AJAX GET request to a local server at
            `http://127.0.0.1:5003/get_marketscan` to fetch data. Once the data is fetched, it
            generates an HTML table using the fetched data and displays it on the webpage. The table
            headers are generated based on the `columnOrder` array, and the table rows are generated
            based on the data received. The code also includes functionality for searching and
            filtering the table data based on user input. Additionally, it appends buttons for
            saving changes, adding rows, populating Rolling Shortlist */

            $.get(`http://127.0.0.1:5003/get_marketscan`, function(data) {
                // Hide the loading animation upon loading of data from BigQuery
                $('.loading-container').hide();
                tableName = "Market_Scan"
                const columnOrder = [
                    "Num",
                    "Picks",
                    "Captured in the week",
                    "Date",
                    "Lead type",
                    "Target HS industry classification",
                    "Dominant sector_as per MM",
                    "Sectors_as per MM",
                    "Sub Sectors_as per MM",
                    "HS Target region",
                    "Dominant country",
                    "Countries",
                    "Next Steps",
                    "Target",
                    "Target_Chinese",
                    "Deal intelligence",
                    "Short BD",
                    "Bidders",
                    "Sellers_or_Vendors",
                    "Type of transaction",
                    "Intelligence type_as per MM",
                    "Topics_as per MM",
                    "Value_USDm",
                    "Value description",
                    "Intelligence size",
                    "Intelligence size bucket",
                    "Stake value_percent",
                    "Held by ASPAC priority firm_Y_or_N",
                    "PE priority firm ",
                    "Held since",
                    "Held for more than three years_Y_N_NA",
                    "KPMG credentials_PE_Company_Both_N",
                    "KPMG firm",
                    "Engagement partner",
                ];
                const tableData = data;
                // Generate a table HTML using the fetched data
                let tableHtml = '<table class="table" id="MS_table">';
                // Generate table headers
                tableHtml += '<thead><tr>';
                for (const columnName of columnOrder) {
                    tableHtml += `<th>${columnName}</th>`;
                }
                tableHtml += '</tr></thead>';
                
                // For Search text input
                tableHtml += '<thead><tr>';
                for (const columnName of columnOrder) {
                    tableHtml += `
                        <th><input type="text" class="column-search" data-col-name="${columnName}" placeholder="Search ${columnName}"></th>
                    `;
                    
                }
                tableHtml += '</tr></thead>';

                // Generate table rows
                tableHtml += '<tbody>';
                for (const opportunityId in tableData) {
                    const row = tableData[opportunityId];
                    tableHtml += '<tr>';
                    for (const columnName of columnOrder) {
                        const cellContent = row[columnName];
                        if (columnName == "Picks") {
                            // Display a checkbox in the 'Picks' column
                            tableHtml += `<td data-col-name="${columnName}" contenteditable="true">`;
                            tableHtml += `<input type="checkbox" ${cellContent ? 'checked' : ''}/>`;
                            tableHtml += `</td>`;
                        }
                        else if (cellContent !== null) {
                            if (cellContent.length > 30) {
                                const uniqueID = `modal-${columnName.trim().substring(0, 3)}`;
                                tableHtml += `
                                    <td data-col-name="${columnName}" data-full-content="${cellContent}">${cellContent.substring(0, 30)}
                                        <span><button class="expand-button" data-bs-toggle="modal" data-bs-target="#${uniqueID}">...</button></span>
                                        <div class="modal fade" id="${uniqueID}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body"></div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary close-modal-button" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" id="save-changes" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    `;
                            } else {
                                tableHtml += `<td data-col-name="${columnName}" contenteditable="true">${cellContent}</td>`;
                            }
                        } else {
                            tableHtml += `<td data-col-name="${columnName}" contenteditable="true"> </td>`;
                        }
                    }
                    tableHtml += '</tr>';
                }

                // Add editable attribute to each cell
                tableHtml = tableHtml.replace(/<td>/g, '<td contenteditable="true">');

                // Append table name
                tableNameHtml = `<p style='margin-right: 10px; margin-top: 10px; color: white;'>${tableName}</p>`
                $('.table-name').html(tableNameHtml);

                // Append Save Changes button
                saveHtml = '<button id="save-changes" class="btn"><img src="../static/images/diskette.png" alt="Save Changes" width="15" height="15"></button>';
                $('.save-button').html(saveHtml);

                // Append Add Row button
                addHtml = '<button id="add-row" class="btn"><img src="../static/images/plus.png" alt="Add Row" width="15" height="15"></button>';
                $('.add-row-button').html(addHtml);

                // Append Populate Rolling Shortlist button
                populateHtml = '<button id="populate-RS" class="btn"><img src="../static/images/move_tables.png" alt="Populate RS" width="15" height="15"></button>';
                $('.populate-RS-button').html(populateHtml);

                // Update the table details placeholder and show it
                $('.table-details').html(tableHtml).show();

                // Hide the tile container
                $('.tile-container').hide();

                // Generate dropdown slicers for each column
                const slicerContainer = document.getElementById("slicer-container");
                slicerHTML = ``;
                for (const columnName of columnOrder) {
                    if (["Lead type", "Target HS industry classification", "HS Target region", "Dominant country", "Intelligence size bucket", "Type of transaction", "Held by ASPAC priority firm_Y_or_N", "KPMG credentials_PE_Company_Both_N"].includes(columnName)) {
                        const uniqueValues = [...new Set(tableData.map(row => row[columnName]))];
                        slicerHTML += `
                        <div class="inner-slicer-container show" id="inner-slicer-container">
                            <div class="slicer">
                                <div class="slicer-header">${columnName}</div>
                                <div class="slicer-options">
                        `
                        for (const value of uniqueValues) {
                            slicerHTML += `
                                <label><input type="checkbox" class="slicer-checkbox" value="${value}">${value}</label>
                            `
                        }
                        slicerHTML += `
                                </div>
                            </div>
                        </div>
                        `
                    }
                }
                slicerContainer.innerHTML += slicerHTML;

                // Function for Slicer Filtering
                function applySlicerFiltering() {
                    $('.inner-slicer-container').on('input', 'input[type="checkbox"]', function () {
                        // Get all selected slicer values and their corresponding column names
                        const selectedSlicerValues = {};
                        $('.inner-slicer-container').each(function () {
                            const slicerHeading = $(this).find('.slicer-header').text().trim();
                            const selectedValues = [];
                            $(this).find('input[type="checkbox"]:checked').each(function () {
                                selectedValues.push($(this).val());
                            });
                            if (selectedValues.length > 0) {
                                selectedSlicerValues[slicerHeading] = selectedValues;
                                console.log(slicerHeading + ": " + selectedValues);
                            }
                        });
                        // Hide or show table rows based on selected slicer values
                        $('.table tbody tr').each(function () {
                            let rowVisible = true;
                            const $row = $(this);
                            // Check if all selected slicer values match in their respective columns
                            for (const slicerHeading in selectedSlicerValues) {
                                const columnIndex = columnOrder.indexOf(slicerHeading);
                                if (columnIndex !== -1) {
                                    const cellText = $row.find(`td:eq(${columnIndex})`).text().toLowerCase();
                                    const selectedValues = selectedSlicerValues[slicerHeading];
                                    let matchesAllValues = true;
                                    for (const value of selectedValues) {
                                        if (!cellText.includes(value.toLowerCase())) {
                                            matchesAllValues = false;
                                            break;
                                        }
                                    }
                                    if (!matchesAllValues) {
                                        rowVisible = false;
                                        break; // No need to check further
                                    }
                                }
                            }
                            // Toggle row visibility
                            if (rowVisible) {
                                $row.show();
                            } else {
                                $row.hide();
                            }
                        });
                    });
                }

                // For Search Function
                function applyColumnSearch() {
                    $('.column-search').on('input', function () {
                        // Get all search values from all search inputs
                        const searchValues = {};
                        $('.column-search').each(function () {
                            const columnName = $(this).data('col-name');
                            const searchText = $(this).val().toLowerCase();
                            searchValues[columnName] = searchText;
                        });
                        $('.table tbody tr').each(function () {
                            let rowVisible = true;
                            const $row = $(this);
                            // Check if any search text matches in any of the columns
                            for (const columnName of columnOrder) {
                                const cellText = $row.find(`td[data-col-name="${columnName}"]`).text().toLowerCase();
                                const searchText = searchValues[columnName];
                                if (searchText && !cellText.includes(searchText)) {
                                    rowVisible = false;
                                    break;
                                }
                            }
                            // Toggle row visibility
                            if (rowVisible) {
                                $row.show();
                            } else {
                                $row.hide();
                            }
                        });
                    });
                }

                // calling the Slicer and Search functions to apply them to the displayed table
                applySlicerFiltering();
                applyColumnSearch();
                console.log("display successful");

                // FOLLOWING code is to download the BigQuery Market Scan dataset as an excel file on the user's local machine
                // Create a button element (following this are all DOM manipulation)
                const downloadButton = document.createElement('button');
                downloadButton.id = 'download-button';
                downloadButton.className = 'btn';
                // Create an image element for the button
                const downloadImage = document.createElement('img');
                downloadImage.src = '../static/images/download_icon.png';
                downloadImage.alt = 'Download Table';
                downloadImage.width = 15;
                downloadImage.height = 15;
                downloadButton.appendChild(downloadImage);
                downloadButton.addEventListener('click', async () => {
                    const response = await fetch('http://127.0.0.1:5003/download_marketscan');
                    const blob = await response.blob();
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'Market Scan.xlsx';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                });
                // Append the button to the button container
                const downloadDiv = document.querySelector('.download-button');
                downloadDiv.appendChild(downloadButton);
            });
        }

        // Function to update the Market Scan table
        function updateMarketScan() {
            const editedCells = $('.table td.editing'); // Get all edited cells
            const editedModal = $('.modal-body.editing'); // Get the edited cell inside the modal
            let showAlert = true; // Initialize the showAlert flag as true
            const updatedRows = [];
            if (editedCells.length > 0) {
                showAlert = false;
                editedCells.each(function () {
                    const editedCell = $(this);
                    const Num = editedCell.closest('tr').find('td:nth-child(1)').text(); // 1st column is Num (unique row number)
                    const columnName = editedCell.data('col-name');
                    let cellValue;
                    // Handle the "Picks" column checkbox value
                    if (columnName === "Picks") {
                        const checkbox = editedCell.find('input[type="checkbox"]');
                        cellValue = checkbox.is(':checked'); // Get the checked state of the checkbox
                        if (cellValue === true) {
                            cellValue = "True"
                        } 
                    } else {
                        cellValue = editedCell.text();
                    }
                    // console.log for debugging purposes
                    console.log(Num);
                    console.log(columnName);
                    console.log(cellValue);
                    updatedRows.push({
                        row_id: Num,
                        column_name: columnName,
                        edited_value: cellValue
                    });
                });
            }
            if (editedModal.length > 0) {
                // Get the updated content from the modal and update the corresponding cell
                const modalId = editedModal.closest('.modal').attr('id'); // Get the modal ID
                const editedContent = $(`#${modalId} .modal-body`).text(); // Get the content from the modal
                const Num = editedModal.closest('tr').find('td:nth-child(1)').text(); // 1st column is Num
                const columnName = editedModal.closest('.table td').data('col-name');
                updatedRows.push({
                    row_id: Num,
                    column_name: columnName,
                    edited_value: editedContent
                });
                showAlert = false; // Modal is edited, so do not show the alert
            }
            // console.log to show developer updated rows during testing
            console.log(updatedRows);
            if (showAlert) {
                alert("No cell is being edited.");
                return;
            }
            // Send the updated data to the backend using fetch
            fetch('http://127.0.0.1:5003/update_marketscan', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedRows)
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error("An error occurred while saving changes.");
                    }
                })
                .then(data => {
                    console.log(data);
                    if (data.success) {
                        console.log("edit successful!");
                        alert("Edit successful!");
                        setTimeout(function(){
                            window.location.reload();
                        }, 8000); // Reload the table after a successful update
                    } else {
                        displayMarketScan();
                        displayErrorMessage("An error occurred while saving changes.");
                    }
                })
                .catch(error => {
                    console.error(error);
                    displayMarketScan();
                    displayErrorMessage("An error occurred while saving changes.");
                });
        }

        // FOLLOWING functions are for the Add Row function on the Market Scan table
        // Click event handler for the "Add Row" button
        $('.add-row-button').click(function() {
            $('#addRowModal').modal('show');
        });
        // Click event handler for the "Add Row" modal's "Add Row" button
        $('#addRowConfirmButton').click(function() {
            // Collect data from input fields
            const newRowData = {
                Num: parseFloat($('#new-num').val()) || 0, // Use 0 as a default value if not provided
                Picks: $('#new-picks').is(":checked"), // Use true/false based on checkbox state
                Captured_in_the_week: $('#new-capturedWeek').val() || " ",
                Date: parseFloat($('#new-date').val()) || parseFloat(new Date().getTime()), // Use current timestamp if not provided
                Lead_type: $('#new-leadType').val() || " ",
                Target_HS_industry_classification: $('#new-HSIndustryClassification').val() || " ",
                Dominant_sector_as_per_MM: $('#new-dominantSectorMM').val() || " ",
                Sectors_as_per_MM: $('#new-sectorsMM').val() || " ",
                Sub_Sectors_as_per_MM: $('#new-subSectorsMM').val() || " ",
                HS_Target_region: $('#new-HSTargetRegion').val() || " ",
                Dominant_country: $('#new-dominantCountry').val() || " ",
                Countries: $('#new-countries').val() || " ",
                Next_Steps: $('#new-nextSteps').val() || " ",
                Target: $('#new-target').val() || " ",
                Target_Chinese: $('#new-targetChinese').val() || " ",
                Deal_intelligence: $('#new-dealIntelligence').val() || " ",
                Short_BD: $('#new-shortBD').val() || " ",
                Bidders: $('#new-bidders').val() || " ",
                Sellers_or_Vendors: $('#new-sellersVendors').val() || " ",
                Type_of_transaction: $('#new-transactionType').val() || " ",
                Intelligence_type_as_per_MM: $('#new-intelligenceType').val() || " ",
                Topics_as_per_MM: $('#new-topicsMM').val() || " ",
                Value_USDm: $('#new-valueUSDm').val() || " ",
                Value_description: $('#new-valueDescription').val() || " ",
                Intelligence_size: $('#new-intelligenceSize').val() || " ",
                Intelligence_size_bucket: $('#new-intelligenceSizeBucket').val() || " ",
                Stake_value_percent: $('#new-stakeValuePercent').val() || " ",
                Held_by_ASPAC_priority_firm_Y_or_N: $('#new-heldByASPAC').val() || " ",
                PE_priority_firm: $('#new-pePriorityFirm').val() || " ",
                Held_since: $('#new-heldSince').val() || " ",
                Held_for_more_than_three_years_Y_N_NA: $('#new-heldThreeYears').val() || " ",
                KPMG_credentials_PE_Company_Both_N: $('#new-kpmgCredentials').val() || " ",
                KPMG_firm: $('#new-kpmgFirm').val() || " ",
                Engagement_partner: $('#new-engagementPartner').val() || " ",
                // Add other fields as needed
            };
            // Send the new row data to the server
            $.ajax({
                url: 'http://127.0.0.1:5003/add_marketscan_row',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(newRowData),
                success: function(response) {
                    if (response.success) {
                        alert('Row added successfully.');
                        setTimeout(function(){
                            window.location.reload();
                        }, 8000); // Reload the table after a successful update
                    } else {
                        alert('Error adding row.');
                    }
                    $('#addRowModal').modal('hide');
                },
                error: function() {
                    alert('Error adding row.');
                    $('#addRowModal').modal('hide');
                }
            });
        });

        // FOLLOWING few functions are for the 'Save Changes' functionality
        // Initialize an array to keep track of editing cells
        const editingCells = [];

        // this is for showing a cell's full content in a modal
        $(document).on('click', '.expand-button', function () {
            const modalId = $(this).data('bs-target'); // Get the modal's target ID
            const cellContent = $(this).closest('td').data('full-content');
            console.log(cellContent);

            // Find the modal using its unique ID and show it
            $(modalId).find('.modal-body').html(`<div contenteditable="true">${cellContent}</div>`);

            // Add the "editing" class to the cell
            $(modalId).find('.modal-body').addClass('editing');
            
            if (!$(this).closest('td').hasClass('expanded')) {
                // Add the "expanded" class to the cell if it's not already expanded
                $(this).closest('td').addClass('expanded');
            } else {
                // Remove the "expanded" class if it's already expanded (e.g., when closing the modal)
                $(this).closest('td').removeClass('expanded');
            }
            
            $(modalId).modal('show');
        });

        // Click event handler for cells with contenteditable="true"
        $(document).on('click', '.table td[contenteditable="true"]', function() {
            console.log("This cell is being edited!");
            $(this).addClass('editing');
            // Add the cell to the editingCells array
            editingCells.push(this);
        });

        // Click event handler for #save-changes button
        $(document).on('click', '#save-changes', function() {
            const tableName = $('.table-name').text();
            updateMarketScan();
            // Remove the "editing" and "expanded" classes from all cells in the editingCells array
            editingCells.forEach(function (cell) {
                $(cell).removeClass('editing expanded');
            });
            // Clear the editingCells array
            editingCells.length = 0;
        });

        // FOLLOWING is for the integration between the Market Scan and the Rolling Shortlist tables
        // Add an event listener to the "Populate RS" button
        $('.populate-RS-button').on('click', function() {
            // Calculate the number of rows in the table
            const numRows = $('#MS_table tbody tr').length;
            // Count the number of "true" values in the "Picks" column
            const numPicks = $('#MS_table tbody td[data-col-name="Picks"]').filter(function() {
                return $(this).text().trim() === 'true';
            }).length;
            // Create the modal content with the updated message
            const modalContent = `
                You are currently going to populate Rolling Shortlist with ${numPicks} rows.
            `;
            // Update the modal body with the content
            $('#populateRS-modal-body').html(modalContent);
            // Show the confirmation modal
            $('#populateRSModal').modal('show');
        });
        // Add an event listener to the "Populate" button in the confirmation modal
        $('#populateRSModalConfirm').on('click', function() {
            // Add logic for populating Rolling Shortlist here

            // Close the confirmation modal
            $('#populateRSModal').modal('hide');
        });
    });
</script>
</body>
</html>