<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel File Upload to BigQuery</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        table.preview-table {
            border-collapse: collapse;
            width: 100%;
        }
        table.preview-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        table.preview-table tr.alternate-row {
            background-color: #f2f2f2;
        }

        .navbar {
            background-color: #6a6a6a;
            border-bottom: 1px solid #ddd;
        }
        .navbar-nav {
            margin-right: auto;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">Upload</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/preview">Preview Tables</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/mergermarket" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="MergerMarket">MM</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/marketscan" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Market Scan">MS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/rollingshortlist" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Rolling Shortlist">RS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Excel File Upload to BigQuery</h1>
    <form id="uploadForm" enctype="application/x-www-form-urlencoded" style="margin-bottom: 10px;">
        <input type="file" id="fileInput" name="files" accept=".xls, .xlsx" multiple>
        <label for="tableIdInput" style="margin-left: 10px;">Table ID:</label>
        <input type="text" id="tableIdInput" name="tableId" disabled>
        <button type="submit">Upload</button>
    </form>

    <div id="previewArea">
        <!-- The content of the selected Excel file will be displayed here -->
    </div>

    <!-- SheetJS library for Excel file handling -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="/static/js/main.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</html>