<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model Testing</title>
    <!-- Add Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <style>
      /* Add some basic styles for the table */

      table.preview-table {
        border-collapse: collapse;
        width: 100%;
      }

      table.preview-table td {
        border: 1px solid #ddd;
        padding: 8px;
      }

      table.preview-table tr.alternate-row {
        background-color: #f2f2f2;
      }

      .navbar {
            background-color: #f8f9fa;
            border-bottom: 1px solid #ddd;
        }

        .navbar-nav {
            margin-right: auto;
        }
    </style>

    <!-- jQuery cdn -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Excel File Upload to BigQuery</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Upload</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/model_testing">Model Testing</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/view_table">View Table</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/preview">Preview Tables</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

    <h1>View Table</h1>

    <table class="preview-table">
      <tbody>
        <div>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-3">
              <label for="table_name">Get Table</label>
            </th>
            <th class="col-md-3">
              <button
                type="button"
                class="btn btn-danger"
                onclick="get_table()"
              >
                Get Table
              </button>
            </th>
          </tr>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-3">
              <div>
                <ul id="table_list"></ul>
              </div>
            </th>
            <th class="col-md-3"></th>
          </tr>
        </div>

        <tr>
          <th class="col-md-3"></th>
          <th class="col-md-3">
            <label for="tableNameInput">Table Name:</label>
            <input
              type="text"
              id="tableNameInput"
              name="tableNameId"
              required
            />
          </th>
          <th class="col-md-3">
            <button
              type="button"
              class="btn btn-warning"
              onclick="display_table_data()"
            >
              Display Table Data
            </button>
          </th>
        </tr>
        <tr>
          <th class="col-md-3"></th>
          <th class="col-md-3">
            <div>
              <table id="table_data"></table>
            </div>
          </th>
          <th class="col-md-3"></th>
        </tr>

        <tr>
          <th class="col-md-3"></th>
          <th class="col-md-3">
            <label for="opportunityIdInput">Opportunity ID:</label>
            <input
              type="text"
              id="opportunityIdInput"
              name="opportunityId"
              required
            />
          </th>

          <th class="col-md-3">
            <button
              type="button"
              class="btn btn-primary"
              onclick="return_opportunity()"
            >
              Check BigQuery
            </button>
          </th>
          <th class="col-md-3"></th>
        </tr>
      </tbody>
    </table>

    <button
      type="button"
      class="btn btn-success mt-5 m-auto d-flex justify-content-center"
    >
      Clear Results
    </button>

    <!-- Add any JavaScript links or scripts here -->
    <script>
      function get_table() {
        $(async () => {
          var serviceURL = "http://127.0.0.1:5002/get_table";

          const response = await fetch(serviceURL, {
            method: "GET",
          });

          try {
            const result = await response.json();

            if (response.ok) {
              values = Object.values(result);
              str = "";

              for (const val in values) {
                table_str = "<li>" + result["table" + String(val)] + "</li>";
                str += table_str;
                console.log(str);
              }

              document.getElementById("table_list").innerHTML = str;
            }
          } catch {
            console.log("error");
          }
        });
      }

      function display_table_data() {
        var table_name = document.getElementById("tableNameInput").value;

        console.log(table_name);

        $(async () => {
          var serviceURL = "http://127.0.0.1:5002/get_table/" + table_name;

          const response = await fetch(serviceURL, {
            method: "GET",
          });

          try {
            const result = await response.json();

            if (response.ok) {
              console.log(result);

              values = Object.values(result);
              str = `
              <tr>
                <td>Opportunity_ID</td>
                <td>Date</td>
                <td>Value_USD_M</td>
                <td>Value_Description</td>
                <td>Heading</td>
                <td>Opportunity</td>
                <td>Targets</td>
                <td>Lead_type</td>
                <td>Type_of_transaction</td>
                <td>HS_sector_classification</td>
                <td>Short_BD</td>
                <td>Source</td>
                <td>Intelligence_Type</td>
                <td>Intelligence_Grade</td>
                <td>Intelligence_Size</td>
                <td>Stake_Value</td>
                <td>Dominant_Sector</td>
                <td>Sectors</td>
                <td>Sub_Sectors</td>
                <td>Dominant_Geography</td>
                <td>Geography</td>
                <td>States</td>
                <td>Topics</td>
                <td>Bidders</td>
                <td>Vendors</td>
                <td>Issuers</td>
                <td>Competitors</td>
                <td>Others</td>
              </tr>
              `;

              for (const val in values) {
                table_str =
                  "<tr>"+
                    "<td>" + String(values[val].Opportunity_ID) +"</td>"+
                    "<td>" + String(values[val].Date) +"</td>"+
                    "<td>" + String(values[val].Value_USD_M) +"</td>"+
                    "<td>" + String(values[val].Value_Description) +"</td>"+
                    "<td>" + String(values[val].Heading) +"</td>"+
                    "<td>" + String(values[val].Opportunity) +"</td>"+
                    "<td>" + String(values[val].Targets) +"</td>"+
                    "<td>" + String(values[val].Lead_type) +"</td>"+
                    "<td>" + String(values[val].Type_of_transaction) +"</td>"+
                    "<td>" + String(values[val].HS_sector_classification) +"</td>"+
                    "<td>" + String(values[val].Short_BD) +"</td>"+
                    "<td>" + String(values[val].Source) +"</td>"+
                    "<td>" + String(values[val].Intelligence_Type) +"</td>"+
                    "<td>" + String(values[val].Intelligence_Grade) +"</td>"+
                    "<td>" + String(values[val].Intelligence_Size) +"</td>"+
                    "<td>" + String(values[val].Stake_Value) +"</td>"+
                    "<td>" + String(values[val].Dominant_Sector) +"</td>"+
                    "<td>" + String(values[val].Sectors) +"</td>"+
                    "<td>" + String(values[val].Sub_Sectors) +"</td>"+
                    "<td>" + String(values[val].Dominant_Geography) +"</td>"+
                    "<td>" + String(values[val].Geography) +"</td>"+
                    "<td>" + String(values[val].States) +"</td>"+
                    "<td>" + String(values[val].Topics) +"</td>"+
                    "<td>" + String(values[val].Bidders) +"</td>"+
                    "<td>" + String(values[val].Vendors) +"</td>"+
                    "<td>" + String(values[val].Issuers) +"</td>"+
                    "<td>" + String(values[val].Competitors) +"</td>"+
                    "<td>" + String(values[val].Others) +"</td>"+
                  "</tr>";
                str += table_str;
              }

              document.getElementById("table_data").innerHTML = str;
            }
          } catch {
            console.log("error");
          }
        });
      }

      function return_opportunity() {
        var opportunity_id =
          document.getElementById("opportunityIdInput").value;
        console.log(opportunity_id);

        $(async () => {
          var serviceURL =
            "http://127.0.0.1:5001/opportunity/" + opportunity_id;
          console.log(serviceURL);

          const response = await fetch(serviceURL, {
            method: "GET",
          });

          try {
            const result = await response.json();

            if (response.ok) {
              console.log(result.opportunity);
              document.getElementById("opportunityId_output").innerHTML =
                "Opportunity ID exists! :)";
            }
          } catch {
            document.getElementById("opportunityId_output").innerHTML =
              "Invalid Opportunity ID";
          }
        });
      }
    </script>

    <!-- Add the SheetJS library for Excel file handling -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <!-- Add Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
